@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  color: #252424;
}

hr{
    height: 15px;
}

h1, h2{
  font-family: var(--font-roboto_900);
}

p, ol{
  font-family: var(--font-nunito_sans_xlght);
}

ol{
  list-style: circle;
}

.mainlink{
  font-family: var(--font-roboto_900);
}

.public_paragraph{
  font-family: var(--font-nunito_sans_400);
}

.triangle{
  position:absolute;
  background-color: rgb(69,123,157);
  /* background-color: rgb(113, 180, 141); */
  top: -18px;
  left: 40%;
  width: 20px;
  height: 20px;
  transform:  translateY(12px) rotate(45deg);
  border-radius: 3px 0 0 0;
  transition-property: transform;
  transition-duration: 250ms;
  z-index: -99;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
